@value colors: "@/components/colors.module.css";
@value primary from colors;

.coinDetail {
  max-width: 550px;
  border: 2px solid primary;
  border-radius: 10px;
  padding: 0 15px 30px 15px;
}

.coinDetail__coin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;

  position: relative;
  margin: 0 auto;
  top: -40px;
  font-size: 24px;
  font-weight: 500;
}

.coinDetail__coin > div {
  text-align: center;
}

.coinDetail__items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
