@value colors: "@/components/colors.module.css";
@value secondary, faint, positive, negative from colors;

.coinDetailItem {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  width: 140px;
  padding: 15px;
  background-color: secondary;
  border: 1px solid #efefef;
  border-radius: 5px;
}

.coinDetailItem__value {
  display: flex;
  align-items: center;
  gap: 3px;

  color: faint;
}

.coinDetailItem__value--positive {
  color: positive;
}

.coinDetailItem__value--negative {
  color: negative;
}
