.coinItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 15px !important;
}

.coinItem:hover {
  cursor: pointer;
  background-color: #ecfcff;
  border: 1px solid #0682b4;
}

.coinItem__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;

  font-size: 14px;
  width: 160px;
}

.coinItem__section__title {
  font-size: 16px;
}

.coinItem__section__desc {
  color: #828282;
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}
