@value colors: "@/components/colors.module.css";
@value faint from colors;

.coinItemSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3px;
}

.coinItemSection__title {
  width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.coinItemSection__value {
  color: faint;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .coinItemSection:nth-last-child(1) {
    display: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .coinItemSection:nth-last-child(-n + 2) {
    display: none;
  }
}
